#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bg {
    filter: brightness(45%);
    filter: contrast(135%);
    filter: drop-shadow(100%);
    position: absolute;
    left: 30rem;
    top: 3rem;
    right: 0;
    height: 80vh;
    z-index: 2;
    object-fit: cover;
}

.introcont {
    height: 100vh;
    width: 100vh;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding: 0rem 1rem 0rem 1rem;
}

.hello {
    font-size: 1.75rem;
    font-weight: 600;
    background: transparent;
    font-size: clamp(24px, 28px, 32px);
}

.introname {
    background-image:
        linear-gradient(90deg, black, aqua);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.introtxt {
    font-weight: 600;
    background: transparent;
    font-size: clamp(24px, 28px, 32px);
}


.intropara {
    font-size: clamp(12px, 14px, 16px);
    font-weight: 600;
    background: transparent;
    padding: 0px 15px 0px 0px;
}

.btn {
    background-color: black;
    border: none;
    margin: 1rem 1.75rem;
    padding: 0.75rem 1rem;
    color: white;
    border-radius: 2rem;
    font-weight: 600;
}


@media screen and (max-width:840px) {
    .bg {
        right: -30vw;
        display: none;

    }


    .introcont {
        position: relative;
        top: -5rem;
        background-color: transparent;
    }

    .hello {
        font-size: 1.5rem;
        font-weight: 600;
    }


    .introtxt {
        font-size: 1.75rem;
    }


    .intropara {
        font-size: small;
    }



}



@media screen and (max-width:480px) {
    .bg {
        top: 8rem;
        right: -20vw;
    }

    .introcont {
        position: relative;
        top: -2rem;
        background-color: transparent;
    }

    /* 
    .hello {
        font-size: 1.25rem;
        font-weight: 600;
    }


    .introtxt {
        font-size: 1.5rem;
    }


    .intropara {
        font-size: small;
    } */
}